body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.navbar-default {
  background-color: white;
  box-shadow: 0px -2px 8px 2px rgba(0, 0, 0, 0.05);
}
.navbar-default .form-control {
  border: none;
  box-shadow: none;
}
.navbar-default .btn-default {
  border: none;
}
.navbar-default .navbar-brand {
  border-right: 1px solid #DDD;
}
a {
  color: #00B7FF;
}
ul {
  column-count: 2;
  list-style: none;
}
.title a {
  color: #444;
  list-style: none;
}
.title a b {
  color: #00B7FF;
}
#logo a {
  color: #444;
}
#logo a :hover,
#logo a :focus {
  text-decoration: none;
}
#footer {
  font-style: italic;
  color: #aaa;
}
#footer a {
  color: #aaa;
}
.home-search {
  height: 48px;
}
.home-search img {
  height: 100%;
}
h3 {
  color: #888;
  font-weight: normal;
}
.table th,
.table td {
  border-color: #EEE !important;
}
