body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
ul {
  list-style: none;
}
.title a {
  color: #444;
  list-style: none;
}
.title a b {
  color: #00B7FF;
}
#logo a {
  color: #444;
}
#logo a :hover,
#logo a :focus {
  text-decoration: none;
}
#footer {
  font-style: italic;
  color: #aaa;
}
#footer a {
  color: #aaa;
}
