<div ng-controller="navbarCtrl">
  <div rf-navbar></div>
</div>

<div class="row">
  <div class="col-md-4 col-md-offset-4 panel panel-default">
  	<div class="panel-body">
  		<h1 class="text-center">Login / Signup</h1>
  		<form>
  			<div class="form-group">
				<label for="email-input">Email</label>
				<input type="email" class="form-control" id="email-input" placeholder="Email">
			</div>
			<div class="form-group">
				<label for="password-input">Password</label>
				<input type="password" class="form-control" id="password-input" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-default btn-block"><b>Login / Signup</b></button>
			<button type="submit" class="btn btn-primary btn-block"><i class="fa fa-facebook"></i></button>
  		</form>
  	</div>
  </div>
</div>